build/
*.o
*.a
*.so
*.exe

*.h5

list_compressors.c
list_compressors

.vscode/
test_write

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

.DS_Storeresults_pressio.csv

tests/analysis.ipynb

# Build files
async_new_h5api_ex.exe
new_h5api_ex.exe
new_h5api.o
libnew_h5api.a
libh5passthrough_vol.so
build/
spack-env/

*.png
*.pdf
/tests/*.png
/tests/*.pdf